<!doctype html>
<html>
 <head></head>
 <body> 
  <img src="./logo.jpg" alt="Tproger.ru" align="right" width="200" height="200"> 
  <div>
   <ol>
    <li>Введение в мобильную разработку для Android: с каких языков начать изучение?</li>
    <li>Linux, Windows или macOS: что выбрать программисту — отвечают эксперты</li>
    <li>Заканчивается поддержка MS Office 2010. Что делать?</li>
    <li>Знакомство с InfluxDB и базами данных временных рядов</li>
    <li>Математика для ИИ: теория вероятностей</li>
    <li>Качественная архитектура ПО на примере концепции Linux «всё есть файл»</li>
    <li>Тимбилдинг по методу «Эльбруса»: альтернативный способ сплотить команду IT-специалистов</li>
    <li>Мемовости #11</li>
    <li>Как из программиста, работающего в офисе, стать фрилансером — отвечают эксперты</li>
    <li>6 лет в одной компании: путь от онтоинженера к продакту</li>
    <li>Мемовости #10</li>
    <li>Молекулярная очистка воздуха, кошелёк с GPS и AR-зеркало — подборка интересных и технологичных стартапов</li>
    <li>Soft Wars: прокачиваем soft skills за 7 дней</li>
    <li>Мемовости #9</li>
    <li>Отображение картинок в Android-приложении: делегаты, тесты и никакой боли</li>
    <li>Зачем Go нужны дженерики</li>
    <li>Мемовости #8</li>
    <li>Создание игры от идеи до продвижения после релиза</li>
    <li>Как программисту оценить свой темп работы — отвечают эксперты</li>
    <li>Зачем и как использовать контейнеры: разбираемся с Docker, Kubernetes и другими инструментами</li>
    <li>Мемовости #7</li>
    <li>Сколько стоят операции над list, set и dict в Python? Разбираемся с временной сложностью</li>
    <li>Мемовости #6</li>
    <li>Как писать эффективный код на JavaScript с помощью Event Loop</li>
    <li>Мнение: разработка через тестирование — это тупо. Обсуждаем TDD</li>
    <li>Мемовости #5</li>
    <li>Как раскрутить сайт — отвечают эксперты</li>
    <li>Hacktrain, Beerhack или Highkathon — зачем проводят необычные хакатоны</li>
    <li>Что труднее всего даётся разработчику и что с этим делать: 5 практических советов</li>
    <li>Какое из 5 направлений IT-стажировки вам подходит больше всего? Тест от Tproger и «Лаборатории Касперского»</li>
    <li>Почувствуйте себя детективом: сможете разгадать эти 10 шифров и кодов?</li>
    <li>Чему будет рад айтишник: исследование заказов от Ozon</li>
   </ol>
  </div>  
 </body>
</html>